[submodule ".vim/pack/vendor/opt/jedi-vim"]
	path = .vim/pack/vendor/opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/pack/vendor/opt/vimspector"]
	path = .vim/pack/vendor/opt/vimspector
	url = https://github.com/puremourning/vimspector.git
